.box_post_container {
  background: white;
  box-shadow: 6px 7px 5px 0px rgba(168, 168, 168, 1);
  .box_post_content {
    .box_post_content-photo-post {
      display: flex;
      justify-content: center;
      img {
        width: 100%;
        height: 200px;
      }
    }
    .box_post_container-info {
      display: flex;
      flex-direction: column;
      .box_post_container-title {
        height: 100px;
        display: flex;
        padding: 15px 10px 15px 15px;
        text-transform: capitalize;
        img {
          cursor: pointer;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 15px;
        }
      }
      .box_post_container-interactions {
        display: flex;
        justify-content: space-between;
        padding: 0px 15px 20px 15px;
        .box_post_container-interactions-commets {
          cursor: pointer;
        }
      }
    }
    .box_post_container-tags {
      .box_post_container-tags-items {
        display: flex;
        padding: 15px 15px 0px 15px;
        text-transform: uppercase;
        p {
          padding: 2px 5px;
          font-size: 12px;
          border-radius: 5px;
          background: #3184ce;
          text-align: center;
          color: white;
          margin-left: 5px;
        }
      }
    }
  }
}
