.home_container {
  background-image: url('../image/fondo.jpg');
  .box_container {
    padding: 15px;
    display: grid;
    grid-auto-columns: 200px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}
