.listComments_container {
  padding: 15px 30px;
  .listComments_container-user {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    img {
      margin-right: 15px;
      width: 40px;
      border-radius: 50%;
    }
  }
  .listComments_container-comment {
    width: 100%;
    .listComments_container-comment-name {
      display: flex;
      align-items: center;
      h3 {
        color: #635b5b;
      }
      .date {
        font-size: 11px;
        margin-left: 15px;
      }
    }
  }
}

@media (max-width: 450px) {
  .listComments_container {
    h1 {
      font-size: 18px;
    }
    padding: 15px 10px;
    .listComments_container-user {
      img {
        width: 35px;
      }
      .listComments_container-comment {
        .listComments_container-comment-name {
          h3 {
            font-size: 12px;
          }
          .date {
            font-size: 8px;
          }
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
}
