.listComments_container {
  padding: 15px 30px;
  .listComments_container-user {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    img {
      margin-right: 15px;
      width: 40px;
      border-radius: 50%;
    }
  }
  .listComments_container-comment {
    width: 100%;
    .listComments_container-comment-name {
      display: flex;
      align-items: center;
      h3 {
        color: #635b5b;
      }
      .date {
        font-size: 11px;
        margin-left: 15px;
      }
    }
  }
}
