.listComments_container {
  padding: 15px 30px;
  .listComments_container-user {
    display: flex;
    align-items: center;
    img {
      margin-right: 15px;
      width: 40px;
      border-radius: 50%;
    }
  }
  .listComments_container-comment {
    width: 90%;
    margin-left: 50px;
    background-color: gray;
    color: #fff;
    padding: 5px 12px 5px 12px;
    box-sizing: border-box;
    border-radius: 6px;
    word-break: break-all;
    .date {
      text-align: right;
    }
  }
}
