.login_container {
  height: 100vh;
  background-image: url('../image/fondo.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  .login_box {
    width: 50%;
    margin-top: 50px;
    .login_box_header {
      width: 100%;
      background: #0c0c0c;
      display: flex;
      justify-content: center;
      img {
        padding-top: 5px;
        padding-bottom: 5px;
        width: 70px;
      }
    }
    .login_box_body {
      padding-bottom: 150px;
      padding-top: 50px;
      text-align: center;
      border: 1px solid gray;
      background: #d9d9d9;
    }
  }
}
